<!DOCTYPE html>
<html>

<head>
    <title>Axiom CLI</title>
</head>

<body>
    {{if .error}}
    <h1>Authorization Error</h1>
    <p><em>{{.error}}:</em> {{.error_description}}</p>
    <p>Please try again!</p>
    {{else}}
    <h1>Success</h1>
    <p>You successfully authorized <em>Axiom CLI</em>!</p>
    {{end}}
    <p>You can close this page now!</p>
</body>

</html>