name: Server Regression

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        deployment:
          - azure-1-staging
          - cloud-dev
        go:
          - 1.17
          - 1.18
        experimental: [false]
        include:
          - deployment: azure-1-staging
            axiom_url: TESTING_AZURE_1_STAGING_DEPLOYMENT_URL
            axiom_token: TESTING_AZURE_1_STAGING_ACCESS_TOKEN
            experimental: true
          - deployment: cloud-dev
            axiom_url: TESTING_CLOUD_DEV_DEPLOYMENT_URL
            axiom_token: TESTING_CLOUD_DEV_ACCESS_TOKEN
            axiom_org_id: TESTING_CLOUD_DEV_ORG_ID
          - deployment: cloud-dev
            go: ^1.19.0-beta.1
            experimental: true
      max-parallel: 1
    env:
      AXIOM_URL: ${{ secrets[matrix.axiom_url] }}
      AXIOM_TOKEN: ${{ secrets[matrix.axiom_token] }}
      AXIOM_ORG_ID: ${{ secrets[matrix.axiom_org_id] }}
      AXIOM_DATASET_SUFFIX: ${{ github.run_id }}-${{ matrix.go }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-
      - run: make test-integration
      - name: Cleanup (On Test Failure)
        if: failure()
        run: |
          curl -sL $(curl -s https://api.github.com/repos/axiomhq/cli/releases/latest | grep "http.*linux_amd64.tar.gz" | awk '{print $2}' | sed 's|[\"\,]*||g') | tar xzvf - --strip-components=1 --wildcards -C /usr/local/bin "axiom_*_linux_amd64/axiom"
          axiom dataset list -f=json | jq '.[] | select(.id | contains("${{ github.run_id }}-${{ matrix.go }}")).id' | xargs -n1 axiom dataset delete -f
